<div class="custom-navbar">
  <!-- Top Navbar Links -->
  <div class="top-nav">
    <!-- Left Section (Menu, Our Fleet) -->
    <div class="left-items">
      <%= link_to "Menu", "#", class: "nav-link" %>
      <%= link_to "Our Fleet", "/submarines", class: "nav-link" %>
    </div>

    <!-- Centered Logo and Text -->
    <div class="logo-container">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "sublogo.png", class: "nav-logo" %>
      <% end %>

      <p class="explore-text fw-bold">Explore our submarines</p>
    </div>

    <!-- Right Section (Rent a Sub, Contact, Profile) -->
    <div class="right-items">
      <%= link_to "Rent a Sub", "/submarines", class: "nav-link" %>
      <%= link_to "Contact", "#", class: "nav-link" %>

      <!-- User Dropdown -->
      <% if user_signed_in? %>
        <div class="dropdown">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar" %>
          </a>
          <!-- Display user name under user pic if logged in -->
          <% if user_signed_in? %>
            <span class="user-name"><%= current_user.name %></span>
          <% end %>
          <div class="dropdown-menu">
            <%= link_to "Profile", "#", class: "dropdown-item" %>
            <%= link_to "My bookings", bookings_path, class: "dropdown-item" %>
            <%= link_to "New submarine", new_submarine_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
          </div>
        </div>
      <% else %>
        <div class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
