<div class="submarines-container">
  <!-- Left-side filter box -->
  <aside class="filter-box">
    <h3>Filter Submarines</h3>

    <%= form_with url: submarines_path, method: :get, local: true do %>
      <!-- Price Ranges -->
      <div class="filter-group">
        <h4>Price Ranges</h4>
        <ul>
          <li>
            <%= check_box_tag "price_ranges[]", "under_1m", params[:price_ranges]&.include?("under_1m") %>
            Under $1M (0)
          </li>
          <li>
            <%= check_box_tag "price_ranges[]", "1m_10m", params[:price_ranges]&.include?("1m_10m") %>
            $1M - $10M (4)
          </li>
          <li>
            <%= check_box_tag "price_ranges[]", "above_10m", params[:price_ranges]&.include?("above_10m") %>
            Above $10M (0)
          </li>
        </ul>
      </div>

      <!-- Categories -->
      <div class="filter-group">
        <h4>Categories</h4>
        <ul>
          <li>
            <%= check_box_tag "categories[]", "Research", params[:categories]&.include?("Research") %>
            Research (1)
          </li>
          <li>
            <%= check_box_tag "categories[]", "Explorer", params[:categories]&.include?("Explorer") %>
            Explorer (1)
          </li>
          <li>
            <%= check_box_tag "categories[]", "Scout", params[:categories]&.include?("Scout") %>
            Scout (1)
          </li>
          <li>
            <%= check_box_tag "categories[]", "Interceptor", params[:categories]&.include?("Interceptor") %>
            Interceptor (1)
          </li>
        </ul>
      </div>

      <!-- Operating Depth -->
      <div class="filter-group">
        <h4>Operating Depth</h4>
        <ul>
          <li>
            <%= check_box_tag "depths[]", "100m", params[:depths]&.include?("100m") %>
            100m (4)
          </li>
          <li>
            <%= check_box_tag "depths[]", "30m", params[:depths]&.include?("30m") %>
            30m (1)
          </li>
        </ul>
      </div>

      <!-- Occupancy -->
      <div class="filter-group">
        <h4>Occupancy</h4>
        <ul>
          <li>
            <%= check_box_tag "occupancies[]", "10", params[:occupancies]&.include?("10") %>
            10 Person (1)
          </li>
          <li>
            <%= check_box_tag "occupancies[]", "16", params[:occupancies]&.include?("16") %>
            16 Person (1)
          </li>
        </ul>
      </div>

      <!-- Cruising Speed -->
      <div class="filter-group">
        <h4>Cruising Speed</h4>
        <ul>
          <li>
            <%= check_box_tag "speeds[]", "3", params[:speeds]&.include?("3") %>
            3 Knots (7)
          </li>
        </ul>
      </div>

      <!-- Autonomy -->
      <div class="filter-group">
        <h4>Autonomy</h4>
        <ul>
          <li>
            <%= check_box_tag "autonomies[]", "10h", params[:autonomies]&.include?("10h") %>
            10 Hours (2)
          </li>
          <li>
            <%= check_box_tag "autonomies[]", "7d", params[:autonomies]&.include?("7d") %>
            7 Days (1)
          </li>
        </ul>
      </div>

      <%= submit_tag "Apply Filters", class: "btn-primary" %>
    <% end %>
  </aside>

  <!-- Right-side submarine info -->
  <div class="submarine-info">
    <h1 class="page-title">Explore Our Submarines</h1>
    <p class="page-description">Discover our fleet of submarines designed for exploration and adventure.</p>

    <div class="submarines-cards">
      <% @submarines.each do |submarine| %>
        <div class="submarine-card">
          <div class="submarine-image">
          <% if submarine.image_tag.attached? %>
            <%= cl_image_tag(submarine.image_tag.key, width: 300, height: 200, crop: :fill) %>
          <% else %>
            <%= image_tag "logo.png", width: 300, height: 200 %>
          <% end %>
          </div>
          <div class="submarine-details">
            <h2 class="submarine-title"><%= submarine.name %></h2>
            <p class="submarine-description"><%= submarine.description %></p>
            <p class="submarine-capacity"><%= "Weight: #{submarine.weight_ton} tons" %></p>
            <%= link_to "View Details", submarine_path(submarine), class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
