<div class="submarines-container">
<div class="container mt-4">
  <div class="row">
    <!-- Top-left area: Image and name of sub -->
    <div class="col-md-6">
      <h2 class="text-color"><%= @submarine.name %></h2>
      <% if @submarine.photos.attached? %>
        <%= cl_image_tag(@submarine.photos.first.key, width: 350, height: 250, crop: :fill, class: "rounded-5 shadow-sm picture-card") %>
      <% else %>
        <%= image_tag "logo.png", width: 250, height: 150, class: "rounded-5 border border-light shadow-sm" %>
      <% end %>
    </div>

    <!-- Top-right area: Booking Form -->
    <div class="col-md-6">
      <h2 class="text-color">Booking Form</h2>
      <%= form_with(url: new_submarine_booking_path(@submarine), method: :get) do %>
        <div class="form-group">
          <label for="bookingStartDate" class="text-color">Start Date</label>
          <input type="date" class="form-control input-card" id="bookingStartDate" name="start_date" min="<%= Date.today %>" required>
        </div>

        <div class="form-group mt-2">
          <label for="bookingEndDate" class="text-color">End Date</label>
          <input type="date" class="form-control input-card" id="bookingEndDate" name="end_date" required>
        </div>
        <div class="form-group mt-2">
          <button type="submit" class="btn btn-primary book-btn">Book Now</button>
        </div>
      <% end %>
    </div>
  </div>

  <script>
    const startDateInput = document.querySelector("#bookingStartDate");
    const endDateInput = document.querySelector("#bookingEndDate");

    startDateInput.addEventListener("change", (event) => {
      const startDate = event.target.value;
      endDateInput.setAttribute("min", startDate);
      if (endDateInput.value && endDateInput.value < startDate) {
        endDateInput.value = "";
      }
    });
  </script>

  <!-- Quick Details -->
  <div class="row mt-4">
    <div class="col-md-12">
      <h4 class="text-color">Quick Details</h4>
      <div class="card shadow details-card">
        <div class="card-body">
          <%# <strong><h4>Quick Details</h4></strong> %>
          <ul>
            <li>
              <h6 class="submarine-title" style="display: inline;"><strong>Description:</strong></h6>
              <span><%= @submarine.description %></span>
            </li>
            <li>
              <h6 class="submarine-title" style="display: inline;"><strong>Weight:</strong></h6>
               <span><%= @submarine.weight_ton %> tons</span>
            </li>
            <li>
              <h6 class="submarine-title" style="display: inline;"><strong>Class:</strong></h6>
              <span><%= @submarine.submarine_class %></span>
              </li>
            <li>
              <h6 class="submarine-title" style="display: inline;"><strong>Production Year:</strong></h6>
              <span><%= @submarine.prod_year %></span>
              </li>
            <li>
              <h6 class="submarine-title" style="display: inline;"><strong>Amenities:</strong></h6>
              <span><%= @submarine.amenities %></span>
              </li>
            <li>
              <h6 class="submarine-title" style="display: inline;"><strong>Speed:</strong></h6>
              <span><%= @submarine.speed %> knots</span>
            </li>
            <li>
              <h6 class="submarine-title" style="display: inline;"><strong>Price:</strong> $</h6>
              <span><%= @submarine.price %></span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

<% if @submarine.user == current_user %>
  <div class="row mt-4">
    <div class="col-md-12">
      <%= link_to 'Destroy', submarine_path(@submarine), data: { turbo_confirm: 'Are you sure you want to delete this submarine?', turbo_method: :delete }, class: 'btn btn-danger' %>
    </div>
  </div>
<% end %>

  <div class="row mt-4">
    <div class="col-md-12">
      <a href="/submarines" class="btn btn-secondary back-btn">Back</a>
    </div>
  </div>
</div>
</div>
