<!DOCTYPE html>
<html>
  <head>
    <title>Submate</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <style>
    body {
      cursor: url('<%= asset_path('submarine.png') %>') 16 16, auto;
    }
    </style>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.5.0/nouislider.min.css" />

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.5.0/nouislider.min.js"></script>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
